.recentPosts {
  margin: 1rem 0;
  display: grid;
  grid-template-columns: 3fr 1fr;
  /* border: 1px solid black; */
}

@media screen and (max-width: 768px) {
  .recentPosts {
    display: block;
  }
}
